<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Pillport onsite Controller</title>
    <script src="javascripts/data2.js"></script>
    <link rel="stylesheet" href="stylesheets/table.css" />
</head>

<body style="height: 100vh" class="display-flex-column">
    <section id="step1">
        <div class="speakToText"></div>
        <div style="
          border-radius: 0px 0px 3.125rem 3.125rem;
          background-color: var(--blue-100);
          padding: 2rem 0;
        " class="text-center display-flex-column gap-1">
            <p class="text-white text-bold" style="font-size: 2.25rem">
                Chào mừng bạn đến với Máy bán thuốc tự động “Pillport"!
            </p>
            <p class="text-style-italic text-white" style="font-size: 2.25rem">
                Welcome to the “Pillport” Vending Machine!
            </p>
        </div>

        <div class="flex-1 display-flex-column-center gap-3">
            <div class="display-flex-column gap-1">
                <p class="text-center text-bold" style="font-size: 2.5rem">
                    Vui lòng chọn ngôn ngữ
                </p>
                <p class="text-center text-style-italic" style="font-size: 1.5rem">
                    Please select your language
                </p>
            </div>
            <div class="display-flex-around gap-3">
                <div class="btn btn-primary display-flex-column-center gap-1 text-thin" style="font-size: 2.25rem"
                    onclick="changeStep('step2')">
                    <div id="VNFLAG"></div>
                    Tiếng Việt
                </div>
                <div class="btn btn-primary display-flex-column-center gap-1 text-thin" style="font-size: 2.25rem"
                    onclick="changeLanguage('en')">
                    <div id="ENFLAG"></div>
                    English
                </div>
            </div>
        </div>
    </section>

    <section id="step2" class="padding-v-2 margin-v-2">
        <div class="speakToText"></div>
        <div class="margin-auto display-flex-center text-bold gap-1" style="font-size: 1.5rem">
            <div class="logo"></div>
            <p>Máy bán thuốc tự động<br />Chăm sóc sức khỏe mọi lúc, mọi nơi!</p>
        </div>

        <div class="flex-1 display-flex-column-center gap-3">
            <div onclick="" class="btn btn-w80-round bg-blue-100 text-white" style="font-size: 2.25rem">
                Nhận thuốc
            </div>
            <div onclick="changeStep('step3_danhMuc')" class="btn btn-w80-round bg-red-100" style="font-size: 2.25rem">
                Mua thuốc ngay
            </div>
            <div style="
            background-color: var(--blue-30);
            border: 1px solid black;
            border-width: 5px 0;
          " class="width-100 display-flex-column-center padding-v-2 gap-2">
                <p class="text-style-italic" style="font-size: 1.6rem">
                    Nếu chưa xác định chắc chắn được loại thuốc cần dùng, để pillport
                    giúp bạn:
                </p>
                <div onclick="" class="btn btn-w80-round bg-green-100" style="font-size: 2.25rem">
                    Tư vấn mua thuốc nhanh
                </div>
            </div>
        </div>

        <div class="absMascot"></div>
    </section>

    <section id="step3_danhMuc" class="veLogoBg">
        <div class="speakToText"></div>
        <div class="topNav3Item" value="CHỌN LOẠI THUỐC BẠN CẦN"></div>
        <div class="searchBar"></div>
        <div id="pillCateList"
            class="margin-auto width-80 flex-1 display-flex-center align-center gap-3 padding-2 overflow-hidden"
            style="flex-wrap: wrap;"></div>
    </section>

    <section id="step4_CateDetail" class="veLogoBg">
        <div class="speakToText"></div>
        <div class="topNav3Item" value=""></div>
        <div class="searchBar"></div>
        <div id="pillList" class="margin-auto flex-1 display-flex-center align-center gap-3 padding-2 hide-scroll"
            style="flex-wrap: wrap; overflow-y: scroll;"></div>
    </section>

    <section id="step5_PillDetail" class="veLogoBg">
        <div class="topNav3Item" value="Thông tin thuốc"></div>
        <div class="gridPattern">
            <div id="step5_pill_info">
                <div class="pill_ingredient">
                    <h3>Thành phần</h3>
                    <p></p>
                </div>
                <div class="pill_use">
                    <h3>Cách dùng</h3>
                    <p></p>
                </div>
                <div class="pill_description">
                    <h3> Mô tả</h3>
                    <p></p>
                </div>
                <div class="pill_indication">
                    <h3>Chỉ định</h3>
                    <p></p>
                </div>
                <div class="pill_contraindication">
                    <h3>Chống chỉ định</h3>
                    <p></p>
                </div>
                <div class="pill_dosage">
                    <h3>Liều lượng</h3>
                    <p></p>
                </div>
                <div class="pill_pharmacology">
                    <h3>Dược lý</h3>
                    <p></p>
                </div>
                <div class="pill_pharmacokinetice">
                    <h3>Dược động học</h3>
                    <p></p>
                </div>
                <div class="pill_sideEffects">
                    <h3>Tác dụng phụ</h3>
                    <p></p>
                </div>
                <div class="pill_interactions">
                    <h3>Tương tác</h3>
                    <p></p>
                </div>
                <div class="pill_precautions">
                    <h3>Cảnh báo</h3>
                    <p></p>
                </div>
                <div class="pill_overdose">
                    <h3>Quá liều</h3>
                    <p></p>
                </div>
                <div class="pill_overdose_handling">
                    <h3>Xử lý quá liều</h3>
                    <p></p>
                </div>
            </div>
            <div id="step5_pill_img" style="position: relative;">
                <div style="position: sticky; top:6rem" class="width-100 display-flex-column-center gap-2">
                    <img src="" alt="" srcset="" style="width: 100%; height:fit-content; max-height: 45vh;">
                    <h2 id="step5_pill_name" class="text-center"></h2>
                    <div class="bg-blue-50 border-rad-2 width-100" id="step5_pill_cartBtn">
                        <div class="display-flex-center gap-2 bg-blue-100 border-rad-2">
                            <div class="btn padding-1 padding-v-2" id="step5_PillDetail_minus"
                                onclick="pillQuantityControl(currentPill, -1, 'step5_PillDetail_quantity');">-</div>
                            <p id="step5_PillDetail_quantity">0</p>
                            <div class="btn padding-1 padding-v-2" id="step5_PillDetail_plus"
                                onclick="pillQuantityControl(currentPill, 1, 'step5_PillDetail_quantity');">+
                            </div>
                        </div>
                        <div class="btn text-center" id="step5_PillDetail_commit"
                            style="font-size: 1.5rem; padding: 1.5rem;" onclick="">Thêm vào giỏ
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="step6_cart">
        <div class="topNav3Item" value="Giỏ thuốc"></div>
        <div class="gridPattern veLogoBg">
            <div id="step6_cart_pillList" style="align-content: center;">
            </div>
            <div>
                <div class="btn-w80-round border-1 margin-v-2" onclick="changeStep('step3_danhMuc')"
                    style="padding: 2rem; font-size: 1.5rem; background-color: #fff;">Tiếp tục mua thuốc</div>
                <div class="btn-w80-round border-1 margin-v-2" onclick="cart=[];changeStep('step3_danhMuc')"
                    style="padding: 2rem; font-size: 1.5rem; background-color: #fff;">Hủy đặt thuốc</div>
            </div>
        </div>
        <div class="bg-blue-50 display-flex-around">
            <div class="display-flex-center">
                <input type="checkbox" id="step6_cart_checkAll" onclick="handleCartCheckAll(this)">
                <label for="step6_cart_checkAll">Chọn tất cả</label>
            </div>
            <div class="display-flex-center padding-2">
                <p class="text-bold" style="font-size: 1.5rem">Tổng cộng:</p>
                <p class="text-bold" style="font-size: 1.5rem" id="step6_cart_total">0</p>
            </div>
            <div class="btn-round bg-red-100 padding-1 padding-h-2 text-bold" style="font-size: 1.5rem;"
                id="step6_cart_goToPayment">
                Thanh toán
            </div>
        </div>
    </section>

    <section id="step7_payment">
        <div class="topNav3Item" value="Thanh toán"></div>
        <h2 id="order_id" class="text-thin" style="margin: 0 10%;">Mã đơn hàng: </h2>
        <div class="gridPattern veLogoBg">
            <div id="step7_checkoutList" style="align-content: center;">
            </div>
            <div id="step7_payment_paymentMethod"
                class="display-flex-column-center gap-2 bg-blue-100 padding-2 border-rad-2">
                <h3 class="text-center" style="font-size: 1.5rem; color: #fff;">Hình thức thanh toán</h3>
                <div class="btn-w80-round border-1" onclick="alert('Tính năng đang phát triển')"
                    style="padding: 1rem; font-size: 1.5rem; background-color: var(--gray-30);">
                    <div>
                        <img src="/icons/payment.svg" alt="">
                    </div>
                    Quẹt thẻ/Visa
                </div>
                <div class="btn-w80-round border-1" onclick="alert('Tính năng đang phát triển')"
                    style="padding: 1rem; font-size: 1.5rem; background-color: var(--gray-30);">
                    <div>
                        <img src="/icons/payment2.svg" alt="">
                    </div>
                    Thanh toán trực tuyến
                </div>
                <div class="btn-w80-round border-1" onclick=""
                    style="padding: 1rem; font-size: 1.5rem; background-color: #fff;">
                    <div>
                        <img src="/icons/momo.svg" alt="">
                    </div>
                    Ví điện tử Momo
                </div>
            </div>

            <div id="step7_payment_qr_container" class="display-flex-column-center gap-2" style="display: none;">
                <h3 class="text-center">QUÉT QR THANH TOÁN</h3>
                <div id="step7_payment_qr" class="" style="width: fit-content; height: 80%;"></div>
            </div>
        </div>
        <div class="bg-blue-50 display-flex-around">
            <div class="display-flex-center padding-2">
                <p class="text-bold" style="font-size: 1.5rem">Tổng cộng:</p>
                <p class="text-bold" style="font-size: 1.5rem" id="step7_checkout_total">0</p>
            </div>
            <div class="btn-round bg-red-100 padding-1 padding-h-2 text-bold" style="font-size: 1.5rem;"
                id="step7_done">
                Thanh toán
            </div>
        </div>
    </section>

    <section id="chat" style="">
        <div class="chat-main">
            <div class="chat-close"><img src="/icons/close.svg" alt="close " onclick="closeChat()" /></div>
            <div class="chat-header">
                <img src="/icons/logo.svg" alt="logo">
                <img src="/icons/mascot.svg" alt="logo">
            </div>
            <div class="chat-body " id="chatBody">
                <!-- append msg here -->
            </div>
            <div class="chat-input">
                <input type="text" id="userInput" placeholder="Nhập tin nhắn...">
                <button onclick="sendChatMessage()">Gửi</button>
            </div>
        </div>
        <div class="sidebar" id="sidebar">
            <div class="sidebar-header">
                <h3>Các câu hỏi phổ biến</h3>
                <span class="sidebar-toggle" onclick="toggleSidebar()">≣</span>
            </div>
            <div class="sidebar-body" id="sidebarBody">
                <!-- Questions will be appended here -->
            </div>
        </div>
    </section>
</body>

<script src="javascripts/data.js"></script>
<script src="javascripts/tablet.js"></script>
<script src="javascripts/qrcode.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="javascripts/socket.js"></script>

</html>